table, td {
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}



img{
	height: 100px;
	width: 300px;
	margin:auto;
	
}

.cs{
	height: 100px;
	width: 50px;
}

h1{
	text-align: center;
	
}