<nav class="nav">
  <div class="nav-wrapper">
	<a class="img"><%= image_tag("black.png", :alt => "Church&State") %></a>
    
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
    </ul>
  </div>
</nav>
